
<div class="section off-white no-bot-padd" id="">
    <div class="contact-container">
        <div class="contact-overlay">
            <div class="contact-section">
                <div class="container">
                    <div class="row">
                        <div class="footer">
                            <div class="quick-links">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>Contact Us</h4>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <address>
                                                        Phone: +1 212 537 6995 <br />
                                                        Email: info@itestapp.com<br />
                                                        <br />
                                                        House:Suite 1479<br />
                                                        Location:30 Broad Street<br />
                                                        City:New York<br />
                                                        Country: USA.
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Need Help?</h4>
                                            <h3>Ask Us All You Need To Know</h3>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Connect with us</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="social-icons">
                                                        <a href="" target="_blank"><span class="facebook"><i class="fa fa-facebook"></i></span> Facebook</a>
                                                        <a href="" target="_blank"><span class="twitter"><i class="fa fa-twitter"></i></span> Twitter</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="social-icons">
                                                        <a href="" target="_blank"><span class="google"><i class="fa fa-google-plus"></i></span> Google+</a>
                                                        <a href="" target="_blank"><span class="linkedin"><i class="fa fa-linkedin"></i></span> Linkedin</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-social">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>© Copyright @DateTime.Now.Year by <a href="">itestapp.com</a>. All Rights Reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="scrollUp" href="#top">Go TOP</a>
