@using SoftwareGrid.Model.iTestApp.Utility
@if (Html.UserIdentityIsAuthenticated())
{
    var loggedInUser = WebHelper.CurrentSession.Content.LoggedInUser;
    if (loggedInUser != null)
    {
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                <span class="logged-avatar">
                    <i class="icon-user"></i>
                </span>
                <div class="username">
                    <span> @(loggedInUser.FirstName + " " + loggedInUser.LastName) </span>
                    <i class="fa fa-angle-down"></i>
                </div>
            </a>
            <ul class="dropdown-menu animated flipInY">
                @if (loggedInUser.UserType != (int)AppUsers.User)
                {
                    <li>
                        <a href="@Url.Action("Dashboard", "Admin")">
                            <i class="fa fa-cogs"></i> Admin Panel
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("MyTakenTest", "Home")">
                        <i class="fa fa-angle-right"></i> My Taken Test
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MyFavoriteTest", "Home")">
                        <i class="fa fa-angle-right"></i> My Favorite Test
                    </a>
                </li>
                
                <li>
                    <a href="/Logout">
                        <i class="icon-logout"></i> Log Out
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a class="login-btn" href="/Login">Login</a>
        </li>
        <li>
            <a class="signup-btn" href="/Register">Sign up</a>
        </li>
    }
}
else
{
    <li>
        <a class="login-btn" href="/Login">Login</a>
    </li>
    <li>
        <a class="signup-btn" href="/Register">Sign up</a>
    </li>
}

