@{
    ViewBag.Title = "CompanyBranch Setup";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<div class="col-md-6">
    <div class="portlet portlet-sortable box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-edit"></i> CompanyBranch Setup
            </div>
            <div class="tools">
                <a href="#" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="frmCompanyBranch">

                <div class="form-body">

                    <div class="form-group collapse">
                        <label class="col-md-3 control-label">CompanyBranch Id</label>
                        <div class="col-md-9">
                            <input type="text" id="CompanyBranchId" name="CompanyBranchId" class="form-control" placeholder="CompanyBranch Id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">CompanyBranch Name</label>
                        <div class="col-md-9">
                            <input type="text" id="CompanyBranchName" name="CompanyBranchName" class="form-control" placeholder="CompanyBranch Name" autocomplete="off" maxlength="150">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-offset-3 col-md-4">
                            <button type="submit" id="BtnSave" class="btn green"> <i class="fa fa-save"> </i>&nbsp;Save</button>
                            <button type="button" id="BtnCancel" class="btn default"> &nbsp;Cancel</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="portlet portlet-sortable box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i> CompanyBranch List
            </div>
            <div class="tools">
                <a href="#" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive" id="div-question-category"></div>
        </div>
    </div>
</div>


<script type="text/vash" id="tmpCompanyBranch">
    <table class="table table-striped table-bordered table-hover" id="tblCompanyBranch">
        <thead>
            <tr>
                <td>Company Branch ID</td>
                <td>Company Branch Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @@model.data.forEach(function(v){
            <tr>
                <td>@@v.CompanyBranchId</td>
                <td>@@v.CompanyBranchName</td>
                <td>
                    <a class="btn green btn-xs edit" data-id="@@v.CompanyBranchId">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                    <a class="btn red btn-xs delete" data-id="@@v.CompanyBranchId">
                        <i class="fa fa-trash-o"></i>
                        Delete
                    </a>
                </td>
            </tr>
            })
        </tbody>
    </table>
</script>


<script src="~/assets/admin/pages/otherscripts/CompanyBranchSetup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CompanyBranchSetup.init();
    });
</script>
