@{
    ViewBag.Title = "Test Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="data-content">
        <div class="col-md-3">
            <div id="accordian">
                <ul id="div-testcategory">
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="portlet-box">
                <div class="portlet-header">
                    <h3><span id="TestTitle">All Tests</span> (<span id="TotalCount"></span>)</h3>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <input type="hidden" name="ShowPerPageItem" id="ShowPerPageItem" value="15" />
                        <div class="table-responsive" id="div-test"></div>
                        <div class="paging-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/vash" id="tmpTestCategory">
    @@model.data.forEach(function(v){
    <li><a data-testcategoryid="@@v.TestCategoryId" data-testcategoryname="@@v.TestCategoryName" href="javascript:;" onclick="loadTest(this)">@@v.TestCategoryName</a></li>
    })
</script>


<script type="text/vash" id="tmpTest">
    @@model.data.forEach(function(v){
    <div class="col-md-4">
        <div class="test-item">
            <center><img src="@@v.TestIconPath"></center>
            <span>@@v.TestName</span>
            <div class="test-action">
                @@if(v.FavoriteId != null && v.FavoriteId > 0){
                <a href="javascript:;" class="add-to-test done" data-id="@@v.TestId"><i class="fa fa-heart-o"></i></a>
                }else{
                <a href="javascript:;" class="add-to-test" data-id="@@v.TestId" title="Add To Favorite"><i class="fa fa-heart-o"></i></a>
                }
                <a href="/Home/TestDetails/@@v.TestId">View Details</a>
            </div>
        </div>
    </div>
    })
</script>

<script src="~/assets/admin/pages/otherscripts/TestLibrary.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        TestLibrary.init();
    });
</script>

<style>
    .paging-content {
    margin-left: 12px;
}
    .pagination {
    display: block;
    margin: 0px;
    padding: 0px; 
}

</style>