<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; iTestApp By
        <a target="_blank" href="">Software Grid</a> &nbsp;|&nbsp;
        <a href="" title="" target="_blank">Purchase iTestApp!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
