body
{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background:#ECECEC;
    font-size:16px;
}
.wrap-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.no-marg{
    margin: 0px;
}
.no-padd{
    padding: 0px;
}
.btn-success {
    color: #fff;
    background-color: #59B13F;
    border-color: #59B13F;
}
.btn-success:hover, .btn-success:focus, .btn-success:link,  .btn-success:active {
    background:#6ad44a;
    border:1px solid #6ad44a;
}
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover {
    background:#6ad44a;
    border:1px solid #6ad44a;
}
.input-icon {
    position: relative;
}
.input-icon > i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.input-icon > i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}
.input-icon > .form-control {
    padding-left: 33px;
}
#page-preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    background: #545454; 
    z-index: 100500; 
}
#page-preloader .spinner { 
    display: block; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    width: 100px; 
    height: 100px; 
    margin-top: -50px; 
    margin-left: -50px; 
    border: 3px solid transparent; 
    border-top-color: #ed5c2a;
    border-radius: 50%; 
    z-index: 1001; 
    -webkit-animation: spin 2.5s infinite linear; 
    animation: spin 2.5s infinite linear; 
}
#page-preloader .spinner:before, #page-preloader .spinner:after { 
    content: ''; 
    position: absolute; 
    border-radius: 50%; 
}
#page-preloader .spinner:before { 
    top: 5px; 
    left: 5px; 
    right: 5px; 
    bottom: 5px; 
    border: 3px solid transparent; 
    border-top-color: #ed912a; 
    -webkit-animation: spin 2s infinite linear; 
    animation: spin 2s infinite linear; 
}
#page-preloader .spinner:after { 
    top: 15px; 
    left: 15px; 
    right: 15px; 
    bottom: 15px; 
    border: 3px solid transparent; 
    border-top-color: #fff; 
    -webkit-animation: spin 1s infinite linear; 
    animation: spin 1s infinite linear; 
}
@-webkit-keyframes spin { 
    0% { 
        -webkit-transform: rotate(0); 
        transform: rotate(0); 
    }
  100% { 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
    } 
}
@keyframes spin { 
    0% { 
        -webkit-transform: rotate(0); 
        transform: rotate(0); 
    }
  100% { 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
    } 
}
.navbar-default {
    background-color: #222222;
    border-color: transparent;
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px #e1e1e1;
}
.navbar-default .navbar-brand {
    padding: 0px 15px;
}
.navbar-brand > img{
    max-height: 50px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
    background-color: #59B13F;
    border-color: #59B13F;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #59B13F;
}
.navbar-default .nav > li > a {
    font-family: "Kozuka Gothic Pro";
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    color: #59B13F;
    outline: none;
}
.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #59B13F;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #59B13F;
}
.navbar-default.thin{
    padding: 10px;
}
@media (min-width: 768px) {
    .navbar-default {
        background: #F4F4F4;
        padding: 18px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #222222;
        padding: 10px 0;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
@media(min-width: 768px){
    .navbar-default li a.login-btn{
        padding-top: 7px;
        padding-bottom: 7px;
        background: #59B13F;
        color: #FFF;
        margin-top: 8px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-weight: 300;
        border-right:1px solid #63c246;
    }
    .navbar-default li a.signup-btn{
        padding-top: 7px;
        padding-bottom: 7px;
        background: #59B13F;
        color: #FFF;
        margin-top: 8px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: 300;
    }
    .navbar-default li a.signup-btn:hover, .navbar-default li a.login-btn:hover{
        background: #63c246 !important;
        color: #fff;
    }
}
.navbar-default .nav > li.search{
    padding: 8px 10px 8px 10px;
    max-width: 200px;
}
.navbar-default .nav > li.search input{
    border-radius: 2px;
}
.navbar-default .nav > li.search .input-group .btn{
    background: #FFF;
    border: 1px solid #ccc;
    outline: none;
}
.navbar-right{
    margin-right: 0px;
}
.dropdown-user .logged-avatar{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    float: left;
    background: #59B13F;
}
.dropdown-user .logged-avatar > i{
    line-height: 38px;
    font-size: 25px;
    color: #fff;
}
.dropdown-user .logged-avatar{
    line-height: 40px;
}
.dropdown-user .logged-avatar img{
    max-height: 40px;
    max-width: 40px;
}
.navbar-default .nav li.dropdown-user > a{
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default .nav li.dropdown-user .username{
    display: inline-block;
    padding: 10px 0px 10px 10px;
}
.dropdown.dropdown-user .dropdown-menu > li > a {
    display: block;
    padding: 10px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 30px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 1);
    content: '';
}
.data-content{
    position: relative;
    width: 100%;
    float: left;
    padding-top: 80px;
    padding-bottom: 60px;
}
.portlet{
    float: left;
    width: 100%;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.6);
    background: #FFF;
}
.portlet-box {
    float: left;
    width: 100%;
    background: #FFF;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}
.portlet-header {
    border-bottom: 1px solid #ededed;
}
.portlet-header h3 {
    font-size: 16px;
    margin: 15px;
    display: inline-block;
    color: #59B13F;
}
.portlet-actions{
    display: inline-block;
    float: right;
    padding: 7px 10px;
}
.portlet-actions a{
    padding: 5px;
    font-size: 12px;
    border-radius: 2px;
}
.portlet-body {
    float: left;
    width: 100%;
    padding: 10px 15px;
}
.well{
    border-radius: 2px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.control-label {
    margin-top: 1px;
}
.tips {
    position: relative;
    background: #F44336;
    min-height: 70px;
    width: 100%;
}
.tips:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(244, 67, 54, 0);
    border-left-color: #F44336;
    border-width: 10px;
    margin-top: -10px;
}
.table-info{
    margin-bottom: 15px;
}
.table-info span{
    color: #59B13F;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #cdcdcd;
}
.table-info span:first-child{
    padding-left: 0px;
}
.table-info span:last-child{
    border-right:none;
}
.btn-action {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    color: #59B13F;
}
.btn-action:hover{
    text-decoration: none;
    opacity: 0.8;
    color: #59B13F;
}



.all-tests h3{
    margin: 15px 0px 30px 0px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
}
.test-item{
    display: block;
    float: left;
    width: 100%;
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 2px;
    border:1px solid #f1f1f1;
    padding-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.test-item:hover{
    box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.test-item img {
    max-height: 48px;
}
.test-item span{
    font-weight: 600;
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.test-item .test-action{
    float: left;
    width: 100%;
}
.test-item .test-action a.active{
    background: #8FC84E;
    color: #FFF;
}
.test-item a{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 10px;
    background: #f1f1f1;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.test-item a:first-child{
    border-right:1px solid #cdcdcd;
}
.ad{
    text-align: center;
}
.ad h3{
    margin: 0px;
    line-height: 100px;
}
.test-thumb{
    width: 100%;
    min-height: 90px;
    border:1px solid #ddd;
    text-align: center;
}
.test-thumb span{
    line-height: 85px;
}
.test-thumb img {
    max-height: 80px;
    max-width: 90%;
}
.test-title{
    margin: 15px 0px;
}
.details-head span.questions, .quiz-test span.questions  {
    display: inline-block;
    padding-right: 15px;
    border-right: 1px solid #ddd;
    line-height: 28px;
}
.details-head span.duration, .quiz-test span.duration {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}
.details-head a.take-test, .quiz-test a.take-test {
    display: inline-block;
    float: right;
    line-height: 15px;
}

.details-head a.take-test:hover {
    background: #63c246 !important;
    color: #fff;
    border-color: #63c246;
}
.quiz-test{
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.quiz-test .test-title{
    margin: 0px 0px 15px 0px
}
.settime{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #59B13F;
}
.settime #timer{
    color: #000;
}
.question-block{
    margin-bottom: 15px;
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.question-block span{
    font-weight: 600;
}
.question-block.is-multiple span:last-child{
    font-weight: 400;
    color: #DD4B39;
    font-size: 12px;
}
.exam-result{
    float: left;
    width: 100%;
}
.exam-result span.ex-start{
    display: inline-block;
    float: left;
}
.exam-result span.ex-end{
    display: inline-block;
    float: right;
}
.app-dash-stats{
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 10px;
}
.app-dash-stats:hover, .app-dash-stats:active, .app-dash-stats:link, .app-dash-stats:focus{
    text-decoration: none;
}
.app-dash-stats.green > span
{
    border:3px solid #5cb85c;
}
.app-dash-stats.blue > span
{
    border:3px solid #1499DE;
}
.app-dash-stats.red > span
{
    border:3px solid #d9534f;
}
.app-dash-stats.purple > span
{
    border:3px solid #9C60EB;
}
.app-dash-stats > span {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid #1499DE;
    border-radius: 50% !important;
}
.app-dash-stats span > span {
    line-height: 70px;
    font-size: 18px;
}
.app-dash-stats-section h4 {
    color: #333;
    font-size: 14px;
}
.overall-score{
    padding: 30px 0px;
}
.overall-score h4{
    margin: 0px 0px 20px 0px;
}
.overall-score h4 > span.passed{
    color: #5cb85c;
}
.overall-score h4 > span.failed{
    color: #d9534f;
}

.icheck-list > label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
}
.answer-block{
    display: block;
    border-bottom: 1px solid #f5f5f5;
}
.question-type h4{
    font-weight: 400;
    font-size: 16px;
    color: #59B13F;
    display: inline-block;
}
.question-nav{
    text-align: right;
    display: inline-block;
    float: right;
}
.question-nav a{
    padding: 3px 20px 3px 20px;
    margin-top: 5px;
}
.question-virtual {
    float:left;
    width:100%;
    margin-bottom:15px;
}
.flat-text {
    height: 25px;
    width: 80%;
    display: block;
    margin:10px 0px 10px 0px;
}
.flat-text.full-width {
    float:left;
    width: 90%;
    background-color: rgba(0,0,0,0.15);
}
.flat-text.small {
    float:left;
    width: 40%;
    margin-right:10%;
    background-color: rgba(0,0,0,0.05);
}
.mh-400 {
    min-height:400px;
}
.pagination{
    display: block;
    margin: 0px;
    padding: 15px;
}
.pagination .btn-success{
    border-right: 1px solid #68cc4a;
    margin-right: 1px;
    min-width: 35px;
}
.btn-group.seperate .btn{
    margin-right: 10px;
    border-radius: 5px !important;
}
.btn-group.seperate .btn.active{
    background: #2EBEF3;
    color: #FFF;
    border:1px solid #2EBEF3;
}
.pagination h3{
    font-size: 16px;
    margin: 0px 0px 15px 0px;
}
.question-thumb img{
    max-height: 250px;
    max-width: 100%;
}
.answer-thumb{
    max-height: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
div.divider{
    height: 1px;
    width: 100%;
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: #ddd 1px solid;
}
.text-gray{
    color: #666;
}
.justify{
    text-align: justify;
}
.bold{
    font-weight: bold;
}
.passage-header{
    float: left;
    width: 100%;
}
.passage-header h3{
    margin: 10px 10px 10px 0px;
    font-size: 16px;
    color: #59B13F;
}


.pagination {
    display: block;
    margin: 0px;
    padding: 0px;
}
.paging-content {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: none;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 3px;
    margin-right: 3px;
}

.quiz-test {
    position: relative;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-bottom: 5px; 
    border-bottom: 1px solid #ddd;
}
pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
}





header {
    background-image: url('../img/slide_1.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    min-height: 700px;
    margin-top: 70px;
}
header .intro-text {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 45%;
    height: 100px;
    background: rgba(244,244,244,0.9);
    font-size: 35px;
    font-weight: 300;
    color: #333;
    padding-top: 20px;
}


.get-started
{
    font-size: 35px;
    border:2px solid #A67BFF;
    color: #FFF;
    text-decoration: none;
    min-width: 300px;
    font-weight: 300;
    border-radius: 45px;
}
.get-started:hover
{
    color: #FFF;
}
.get-started:focus
{
    color: #FFF;
}









.section
{
    float: left;
    width: 100%;
    padding: 70px 0px 70px 0px;
    min-height: 100px;
}
.no-bot-padd
{
    padding-bottom: 0px;
}
.section.purple
{
    background: #938bba;
}
.section.off-white
{
    background: #FFFFFF;
}




.section-header {
    text-align: center;
    color: #FFF;
    margin-bottom: 100px;
}
.section.purple .section-header h3, .section.off-white .section-header h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.section.purple .section-header h3, .section.purple .section-header h1 {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #FFF;
}




.get-in-section input{
    background: none;
    height: 50px;
    color: #FFF;
    border:2px solid #DDD5FF;
    border-radius: 25px;
}
.get-in-touch{
    width: 200px;
    margin: 30px auto 0px auto;
}
.get-in-touch button{
    background: #F3A33C;
    border:none;
    height: 50px;
    width: 100%;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}





.section.off-white .header-line.white {
    border-top: 1px solid #FFF;
}
.section.purple .section-header h3{
    font-size: 40px;
}
.section.off-white .section-header h1, .section.off-white .section-header h3{
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #59B13F;
}
.section.off-white .section-header h4{
    font-weight: 300;
}
.section.off-white .section-header h3.white{
    color: #FFF;
}
.section.off-white .header-line {
    width: 400px;
    margin: 20px auto;
    border-top: 1px solid #FFF;
    height: 1px;
    display: inline-block;
}
.section.off-white .header-line.gray {
    width: 400px;
    margin: 20px auto;
    border-top: 1px solid #ddd;
    height: 1px;
    display: inline-block;
}

.header-line > span {
    display: block;
    text-align: center;
    position: relative;
    margin-top: -20px;
}

.header-line > span > .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
    font-size: 40px;
    font-weight: 300;
    color: #A67BFF;
    border:2px solid #fff;
}
.header-line.gray > span > .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
    font-size: 40px;
    font-weight: 300;
    color: #A67BFF;
    border:2px solid #ddd;
}

.service-container
{
    float: left;
    width: 100%;
    background: url(../img/bg_1.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 760px;
    position: relative;
    margin-top: -70px;
}
.section-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(115,183,95, 0.7);
    padding-top: 70px;
}



.service-block{
    position: relative;
    float: left;
    width: 100%;
    min-height: 320px;
    padding: 50px 20px 20px 20px;
    text-align: center;
}
.service-block h3{
    margin-bottom: 15px;
    font-weight: 300;
    color: #fff;
}
.service-block p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.service-block.green{
    background: #73B75F;
    border-bottom: 15px solid #65AA51;
}
.service-block.blue{
    background: #2EBEF3;
    border-bottom: 15px solid #25B1E5;
}
.service-block.orange{
    background: #F3A33C;
    border-bottom: 15px solid #DB8C26;
}
.service-block.violet{
    background: #8368F8;
    border-bottom: 15px solid #765BEE;
}
.icon-block{
    position: absolute;
    top: -50px;
    text-align: center;
    left: 0px;
    width: 100%;
    z-index: 99;
}
.s-round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.49);
    text-align: center;
}
.s-round.green{
    background: #73B75F;
}
.s-round.blue{
    background: #2EBEF3;
}
.s-round.orange{
    background: #F3A33C;
}
.s-round.violet{
    background: #8368F8;
}
.s-round.green .s-icon{
    display: inline-block;
    background: url(../img/icon_1.png) no-repeat center center;
    width: 100px;
    height: 100px;
}
.s-round.blue .s-icon{
    display: inline-block;
    background: url(../img/icon_2.png) no-repeat center center;
    width: 100px;
    height: 100px;
}
.s-round.orange .s-icon{
    display: inline-block;
    background: url(../img/icon_3.png) no-repeat center center;
    width: 100px;
    height: 100px;
}
.s-round.violet .s-icon{
    display: inline-block;
    background: url(../img/icon_4.png) no-repeat center center;
    width: 100px;
    height: 100px;
}


.skills-items
{
    display: block;
    float: left;
    width: 100%;
}
.skill-thumb
{
    border-right: 1px solid #DDD;
    padding: 30px 15px;
    text-align: center;
    border-bottom: 1px solid #DDD;
}
.skills-items a {
    color: #333;
}
.skills-items a:hover {
    text-decoration:none;
}
.skill-thumb span{
    display: block;
    padding: 5px;
}
.skill-thumb img {
    max-height: 120px;
}
.btn-more{
    width: 200px;
    background: #59B13F;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}
.btn-more:hover{
    text-decoration: none;
    color: #FFF;
}


.price-container
{
    float: left;
    width: 100%;
    background: url(../img/pattern.png) repeat;
    min-height: 1060px;
    position: relative;
    margin-top: -70px;
}
.price-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(147,139,186, 0.5);
    padding-top: 70px;
}

.priceplan-section{
    display: block;
    background: #EBEBEB;
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.plan-header{
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.plan-header.blue{
    background: #2EBEF3;
}
.plan-header.orange{
    background: #F3A33C;
}
.basic-plan, .pro-plan{
    width: 50%;
    float: left;
    box-sizing:border-box;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.basic-plan{
    border-right: 1px solid #ddd;
}
.basic-plan h3, .pro-plan h3{
    color: #fff;
    margin: 10px 0px 8px 0px;
    font-size: 30px;
    font-weight: 300;
}
.basic-plan span, .pro-plan span{
    color: #fff;
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
}
.plan-body ul{
    width: 300px;
    margin: 0 auto;
}
.plan-body ul li{
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    text-align: left;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #666;
}
.plan-body.blue ul li{
    background: url(../img/right_blue.png) no-repeat center left;
}
.plan-body.orange ul li{
    background: url(../img/right_orange.png) no-repeat center left;
}

.plan-body ul li span{
    font-size: 14px;
    color: #999;
}
.btn-blue{
    width: 200px;
    background: #2EBEF3;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}
.btn-orange{
    width: 200px;
    background: #F3A33C;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}

.btn-blue:hover, .btn-orange:hover{
    text-decoration: none;
    color: #FFF;
}
.contact-container
{
    float: left;
    width: 100%;
    background: url(../img/contact.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-top: -70px;
}
.contact-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.2);
    padding-top: 70px;
}


.footer
{
    float: left;
    width: 100%;
    padding: 0px;
    //background: rgba(115,183,95, 0.7);
    color: #fff;
}
.quick-links h4
{
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}
.quick-links h4:before
{
    position: absolute;
    width: 40px;
    content: " ";
    height: 2px;
    bottom: -8px;
    background: #00A5F2 none repeat scroll 0% 0%;
    left: 0px;
    border-radius: 3px;
    z-index: 99;
}
.quick-links h3{
    font-weight: 300;
    font-size: 16px;
    color:#FFF:
}
.quick-links address{
    font-weight: 300;
}
.quick-links ul
{
    padding: 0px;
}
.quick-links ul li a
{
    color: #a1a1a1;
    display: block;
    padding: 5px 5px 5px 0px;
    font-size: 14px;
    text-decoration: none;
}
.quick-links ul li a:hover
{
    color: #FFF;
}
.social-icons
{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}
.social-icons a
{
    color: #DDD;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
.social-icons a span
{
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ddd;
    transition: all 0.5s ease;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 0px;
    vertical-align: middle;
    display: inline-block;
    background: #444;
}
.social-icons a i
{
    font-size: 14px;
    /*text-shadow:3px 0px 20px #00ACED;*/
}
.social-icons a span.facebook:hover
{
    background: #3B5998;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a span.twitter:hover
{
    background: #00ACED;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a span.google:hover
{
    background: #DC4A38;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a span.linkedin:hover
{
    background: #0077B5;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a span.youtube:hover
{
    background: #E62117;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a span.instagram:hover
{
    background: #2D6599;
    transition: all 0.5s ease;
    color: #fff;
}
.social-icons a i
{
    line-height: 30px;
    vertical-align: middle;
}


.footer-social{
    background: rgba(0,0,0,0.5);
}
.footer-social p
{
    margin: 0px;
    padding: 15px 15px 15px 0px;
    color: #999;
}
.footer-social ul
{
    margin: 15px 0px 15px 0px;
}
.footer-social ul.list-inline > li > a
{
    color: #999;
    font-weight: bold;
    font-size: 13px;
    border-right: 1px solid #4a4a4a;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-social ul li a.last
{
    border-right: none;
    padding-right: 0px;
}
.common-footer-menu
{
    text-align: right;
}
@media (max-width: 992px) {
    .common-footer-menu
    {
        text-align: left !important;
    }
}



#scrollUp {
    display: none;
    bottom: 100px;
    right: 46px;
    line-height: 45px;
    padding: 0px 0px 0px 55px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #00d9f9;
    background-image: url(../img/backtop1.png);
    background-repeat: no-repeat;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
    margin-bottom: 0;
}
.clearfix{
    clear: both;
}


.pre-login a{
    color: #6CC13F;
}
.pre-login a:hover{
    color: #6CC13F;
}
.pre-login-container .logo-block{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.pre-login{
    width: 560px;
    margin: 0 auto;
    background: #FFF;
    padding: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
}
.pre-login input[type="text"],.pre-login input[type="password"]{
    height: 44px;
    border:1px solid #6CC13F;
    border-radius: 2px;
}
.pre-login .forgot a{
    display: inline-block;
    float: right;
}
.pre-login .btn-login, .pre-login .btn-register{
    border-radius: 2px;
    padding: 10px 30px;
    color: #FFF;
}
.pre-login .btn-login:hover, .pre-login .btn-register:hover{
    color: #FFF;
}

#accordian {
    background: #f1f1f1;
    width: 100%;
    margin: 0px auto 0 auto;
    color: white;
    box-shadow: 0 2px 5px #ddd;
}
#accordian h4{
    background: #FFF;
    margin: 0px;
    color: #59B13F;
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
#accordian h3 {
    font-size: 14px;
    line-height: 34px;
    padding: 5px 10px;
    cursor: pointer;
    background: #FFF; 
    /*background: linear-gradient(#f0f0f0, #f7f7f7);*/
    margin: 0px;
    color: #555;
    font-weight: bold;
    border-bottom:1px solid #f0f0f0;
}
#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
#accordian h3 span, #accordian ul > li > a > span {
    font-size: 16px;
    margin-right: 10px;
    position: relative;
}
#accordian h3 span.sm-indicator{
    z-index: 99;
    top: 15px;
    right: 0px;
    width: 16px;
    height: 16px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    background: url(../img/down-gray.png) no-repeat;
}
#accordian h3.active span.sm-indicator{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
#accordian ul{
    margin: 0px;
    padding: 0px;
}
#accordian > ul > li > a{ 
    font-size: 14px;
    line-height: 34px;
    padding: 5px 10px;
    cursor: pointer;
    background: #FFF; 
    margin: 0px;
    color: #555;
    font-weight: 600;
    border-bottom:1px solid #f0f0f0;
    display: block;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    text-decoration: none;
}
#accordian > ul > li > a:hover{
    background: #f5f5f5;
}
#accordian li {
    list-style-type: none;
    position: relative;
}
#accordian ul ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    display: block;
    padding: 5px 15px;
    transition: all 0.15s;
    color: #555;
}
#accordian ul ul li a:hover {
    background: #01A3F1;
    border-left: 4px solid #3A7EE3;
    color: #FFF;
}
#accordian ul ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}
#accordian ul li.active a{
    border-left: 2px solid #3A7EE3;
}


.testimonial-container h3{
    margin: 30px 0px 30px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.testimonial {
    position: relative;
    border-radius: 3px;
    margin: 0 0 30px 0;
}
.testimonial blockquote {
    background: #fff;
    border: 1px solid #dfdfdf;
    margin: 0;
    padding-left: 26px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.testimonial blockquote {
    background: #fff;
    border: 1px solid #dfdfdf;
    margin: 0;
    padding-left: 26px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 170px;
}
.testimonial blockquote p
{
    margin-bottom: 15px;
}
blockquote {
    padding: 26px 26px 26px 70px;
    margin: 0 0 25px 0;
    font-size: 14px;
    background: #f0f0f0;
    font-style: italic;
    position: relative;
    border-radius: 3px;
}
.testimonial .bq-author {
    padding: 20px 0 14px 20px;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    position: relative;
}
.testimonial .bq-author .author-img {
    float: left;
    margin: 0 16px 0 0;
}
.testimonial .bq-author .author-img > img {
    border-radius: 50%;
    border: 3px solid #efefef;
}
.testimonial .bq-author:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 44px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 2;
}
.testimonial .bq-author:after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 42px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #dfdfdf;
    z-index: 1;
}
.testimonial .bq-author .author-img {
    float: left;
    margin: 0 16px 0 0;
}
.testimonial .bq-author h6 {
    font-size: 14px;
    letter-spacing: .05em;
    color: #3b363a;
    margin-bottom: 0;
    padding-top: 8px;
    text-transform: uppercase;
}
.testimonial .bq-author .bq-author-info {
    font-size: 12px;
}



footer{
    width: 100%;
    background: #FFF;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 99;
    height: 40px;
}
footer p{
    line-height: 40px;
}
@media(max-width: 991px){
    header {
        min-height: 300px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0px;
    }
    header .intro-text{
        display: none;
    }
    .navbar-default{
        background:#f8f8f8; 
    }
    .navbar-default .navbar-brand{
        padding-top: 5px;
    }
    .navbar-brand > img{
        max-height: 40px;
    }
    .get-in-section input{
        margin-bottom: 15px;
    }
    .section.off-white .section-header h1, .section.off-white .section-header h3{
        font-size: 20px !important;
    }
    .service-container{
        background: rgba(115,183,95, 0.6);
        background-image: none !important;
        height: auto;
    }
    .section-overlay, .price-overlay{
        position: relative;
    }
    .section-header{
        padding: 10px;
    }
    .service-block{
        margin-bottom: 60px;
    }
    .price-container{
        height: auto;
    }
    .price-section{
        float: left;
        width: 100%;
        position: relative;
    }
    .basic-plan, .pro-plan{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width: 560px){
    .pre-login{
        width: 95%;
        margin: 0 auto;
        padding: 20px;
    }
}
@media(max-width: 480px){
    .header-line{
        width: 100% !important;
    }
    .plan-body ul{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.add-to-test.done i:before{
    content: "\f004";
    color: #0099FF;
}