@model List<PayrollWeb.ViewModels.AllowanceDeduction>

<table class="table table-striped">
    <tr>
        <th>Earnings</th>
        <th>Amount</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td style="text-align:left">
            @Html.DisplayFor(modelItem => item.head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
    </tr>
}
</table>